<!DOCTYPE html>
<html lang="en">
<head>
	<title>Handymen - Register</title>
	<div th:insert="/fragments/general.html :: headLogReg"></div>
</head>
<body>
	<div class="LoginBG">
		<div class="LoginBOX">
		<div class="LoginTOP"><img class="headerLogo" src="images/logo.png"></div>
			<div class="LoginBOTTOM">
				<div class="LoginFields">
					<form method="POST" action="/registreer">
						<div class="RegisterRadios">
							<input type="radio" id="klant" name="userType" value="klant" checked="checked">
							<label for="klant">Klant</label>
							<input type="radio" id="klusjesman" name="userType" value="klusjesman">
							<label for="klusjesman">Klusjesman</label><br><br>
						</div>
						<a>NAAM</a><br>
						<input type="text" id="name" name="name"><br><br>
						<a>E-MAILADRES</a><br>
						<input type="text" id="email" name="email"><br><br>
						<a>WACHTWOORD</a><br>
						<input type="password" id="pswd" name="pswd"><br><br>
						<input type="submit" value="Registreer">
					</form>
					<div class="registerLink"><a>Al een account? </a><a href="login" id="link">login</a></div><br>
				</div>
			</div>
		</div>
	</div>
</body>
</html>